@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*
{
    font-family: Open Sans;
   
}
.header
{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: rgb(255, 248, 243);
    height: 755px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
nav ul
{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    color: rgb(71, 71, 71);
}
.nav-title
{
    font-weight: 800;
    font-size: 35px;
}
nav .nav-r
{
    color: rgb(253, 110, 10);
}
.btn
{
    background-color: rgb(253, 110, 10);
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
main .btn
{
    margin-right: 20px;
}
/* banner styles */
.banner
{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content
{
    max-width: 580px;
}
.banner-subtitle
{
    color:rgb(71, 71, 71) ;
    font-weight: 600;
    font-size: 40px;
    
}
.banner-title
{
    font-weight: 800;
    font-size: 70px;
    
}
.banner-pro-pic
{
    width: 550px;
}
main{
    max-width: 912px;
    margin: 0 auto;
}
.about
{
    background-color: rgb(255, 248, 243);
    border-radius: 10px;
    padding: 50px 150px;
    margin-top: 20px;
    text-align: center;

}
.section-title
{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.section-description
{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.about-items
{
    display: flex;
    justify-content: space-around;
}
.item-title
{
    color: rgb(117, 117, 117)
}
.item-description
{
    font-weight: bold;
    color: rgb(117, 117, 117);
    
}

